@import'utilities';
@import'variables';


*{
    margin: 0;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: $color-gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

    h1{
        font-family: fantasy;

        span{
            color: $color-blue;
        }

    }

    ul{
        list-style-type: none;
        display: flex;

        li{
            margin: auto 2rem;

            a{
                color: $color-black;
                font-family: sans-serif;
                font-weight: bold;

                &:hover{
                    color: $color-blue;
                }
            }
        }
    }
}

footer{
    background-color: #333;
    padding: 2rem 1rem;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}